<ngx-spinner></ngx-spinner>
<div class="container mt-5 ">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #form1="ngForm">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Title</label>
                    <input type="text" name="title" [(ngModel)]="title" class="form-control" id="exampleFormControlInput1" placeholder="Add Question Title">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Question Body</label>
                    <textarea class="form-control" name="body" [(ngModel)]="body" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="website">Tag:</label>
                    <select name="tag"  class="form-control" [(ngModel)]="tag">
                        <!-- <option disabled>Select Tag</option> -->
                        <option value="1">Angular js</option>
                        <option value="2">Angular</option>
                        <option value="3">Node js</option>
                        <option value="4">Vue js</option>
                    </select>
                   
                </div>
                <button type="button" class="btn btn-primary" (click)="onSubmit()">Post</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    
</div>