<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <!-- <div class="signin-image">
                    <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
                    <a href="#" class="signup-image-link">Create an account</a>
                </div> -->

                <div class="signin-form">
                    <h2 class="form-title">Reset Password</h2>
                    <form class="register-form" id="login-form">
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" [(ngModel)]="new_password" name="your_pass" id="your_pass" placeholder="New Password" />
                        </div>

                        <div class="form-group form-button">
                            <button type="button" name="signin" id="signin" class="form-submit"
                               (click)="reset()" value="Log in">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>